//-------------------- Font Families --------------------//

$body-font:                     		"Alegreya", serif;
$heading-font:                  		"Alegreya", serif;
$secondary-font:                		'PT Serif', serif;